.name{
    color:green;
}
p.speech
{
    color:black;
    font-size:medium;
    font-family:'Courier New',Courier,monospace;
}
p.direction{
    font-family:'Times New Roman', Times, serif;
    color:black;
    font-size:small;
    background-color: bisque;
}
    

p.direction:hover{
    color:red;
background-color:palegreen;
}
.LADY_SIMS{
    color:palevioletred;

}
.SIR_HARRY{
    color:purple;
}
