h6{
    color:black;
}
p.speech
{
    color:black;
    font-size:10x;
    font-family:'Courier New',Courier,monospace;
}
p.direction{
    font-family:'Courier New',Courier,momospace;
    color:red;font-size:10x}

p.direction:hover{
    color:blueviolet;
font:10px;
background-color:palegreen;
}
.LADY SIMS:hover{
    font-style:bold;
    color:black;

}
.SIR HARRY:hover{
    font-size:bold;
    color:black;
}
