.name{
    color:green;
}
p.speech
{
    color:black;
    font-size:medium;
    font-family:'Courier New',Courier,monospace;
}
p.direction{
    font-family:'Times New Roman', Times, serif;
    color:black;
    font-size:small;
    background-color: bisque;
}
    

p.direction:hover{
    color:red;
background-color:palegreen;
}
.LADY_SIMS{
    color:palevioletred;

}
.SIR_HARRY{
    color:purple;
}

table {
    border: 1px solid;
    border-color: black;
    width: 50%;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
th {
    border: 1px dashed;
    border-color:purple;
    color:aqua;
    height: 50px;
    background-color:blueviolet;
}
td {
    border: 1px dashed;
    border-color:orange;
    height: 30px;
}

.LADY_SIMS:hover{
    font-size: medium;
    color: palevioletred;
    text-shadow: 0 0 10px palevioletred;
    border-style: solid;
}
.SIR_HARRY:hover {
    font-size: medium;
    color: purple;
    text-shadow: 0 0 10px purple;
    border-style: solid;
}
